/* CSS declarations go here */
html, body { 
    height: 100%;
    margin: 0;
    padding: 0; 
    font-size: 1.25em;
    font-family: "Lucida Grande";
}

/*NAVBAR FIXED ON TOP OF THE SCREEN*/
nav {
    height: 1.3em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(100,100,100,0.5);
    z-index: 1;
}

/* MOBILE HEADER */
@media all and (min-device-width : 320px) and (max-device-width : 480px) {
    nav {
        height: 2.6em;
        background-color: rgba(100,100,100,1);
        }
    #top-space {
        display: block;
        height: 2.6em;
    }
    nav span {
        font-size: 1.6em;
        color: rgba(140,140,140,0.9);
    }
    #social {
        display: none;
    }
}

@media all and (min-width: 640px) {
    #top-space {
        height: 1.25em;
    }
}

/*TITLE*/
nav span {
    margin-left: 0.75%;
    float: left;
    font-weight: 900;
    color: rgba(240,240,240,0.9);
    cursor: default;
    text-shadow: rgba(10,10,10,1) -1px 1px 3px;
}

/* CHANGE CITY SELECTOR*/
#place-selector {
    margin-left: 50%;
    vertical-align: middle;
    margin-bottom: 3px;
    color: rgba(255,255,255,0.7);
    border-width: 0;
    font-size: 0.5em;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
#place-selector:focus {
    outline: none;
    background-color: rgba(150,150,150,1);
}

#place-selector #default-selection {
    text-decoration: underline;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 10px;
  -webkit-user-select: none;
  background-color:  rgba(100,100,100,1);
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  size: 3;
}

@media all and (min-device-width : 320px) and (max-device-width : 480px) {
    #place-selector {
        font-size: 1.1em;
        position: fixed;
        bottom: 10px;
        left: 50%;
        right: 50%;
        padding: 2px 10px;
        width: 33%;
        height: 40px;
        margin-left: -100px;
        box-shadow: inset -1px 1px 2px 2px rgba(70,70,70,1);
        -webkit-box-shadow: inset -1px 1px 2px 2px rgba(70,70,70,1);

    }
    select {
        -webkit-padding-end: 20px;
        -webkit-padding-start: 20px;
    }
}


/*SHARE WITH FB OR TWITTER*/
nav #social{
    float: right;
}

.photos-container {
    position:absolute;
    left:50%;
    min-width: 50%;
    -webkit-transition: all 800ms linear;
    transition: all 800ms linear;
    height: 100%;
    overflow:scroll;
}


@media all and (min-device-width : 320px) and (max-device-width : 480px) {
    #button-more {
        display: none;
    }
}

/* SEE MORE PHOTOS BUTTON*/
#button-more {
    position: fixed;
    bottom: 10px;
    left: 50%;
    right: 50%;
    width: 80px;
    padding: 2px;
    font-size: 1em;
    margin-left: -40px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    color: white;
    background-color: rgba(100,100,100,0.8);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

#button-more:hover {
    cursor: pointer;
    background-color: rgba(150,150,150,1);
}

/*PHOTO STYLES*/
.photo {
    margin: 2px;
    opacity: 1.0;
    width:31%;
    min-width: 150px;
    max-width: 306px;
    -webkit-transition: all 1s linear; /*400ms*/
    transition: all 1s linear;
}

@media all and (min-device-width : 320px) and (max-device-width : 480px) {
.photo {
    margin: 2px;
    width: 31%;
    opacity: 1.0;
    min-width: 150px;
    max-width: 306px;
    -webkit-transition: all 1s linear; /*400ms*/
    transition: all 1s linear;
    }
}

/*TRANSITION TO FOCUS ON ONE PHOTO*/
.photo.active {
    /*width: 200px;*/
    opacity: 0.0;
}

.photo.zoomed {
    opacity: 1.0;
    width: 100%;
    z-index:1;
}

#zoomed-image {
    position: fixed;
    margin-left: -306px;
    margin-top: -306px; 
    left: 50%;
    right: 50%;
    top: 50%;
    z-index:1;

}

.greyed {
    opacity: 0.1;
}

#map_canvas { 
  height: 100%;
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  /*z-index:-1;*/
  margin-top:33px;
}

#map_canvas { 
  height: 100%;
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  /*z-index:-1;*/
  margin-top:33px;
}